*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin-top: 0;
}

.masthead {
  height: 100px;
  width:1800px;

  background-color: #a8bea9;
  text-align: center;
  position: fixed;
  /*display: block;*/
  z-index: 1;
}

.parent {
  position: relative;
  /*height: 1850px;*/
  width: 930px;

}

#map {
  position: absolute;
  display: block;
  margin-top: 100px;
}

.animal {
  position: absolute;
  width: 120px;
  display: block;
}

#buck {
  left: 550px;
  top: 800px;
}

#wallaby {
  left: 1500px;
  top: 700px;
  width: 80px;
}

#andeancat  {
  left: 500px;
  top: 630px;
}

#fox {
  left: 350px;
  top: 190px;
}

#warbler {
  width: 80px;
  top: 215px;
  left: 850px;
}

#narwhal {
  top: 120px;
  left: 680px;
}

#lion {
  top: 350px;
  left: 1200px;
  width: 80px;
}

#margay {
  top: 350px;
  left: 300px;
  width: 80px;
}

#bison {
  top: 180px;
  left: 1200px;
}

#sheep {
  top:  500px;
  left: 900px;
}

.labeled {
  position: absolute;

}

.labeled p {
  border: 1px solid black;
  margin-bottom: 5px;
  text-align: center;
  width: 120px;
}
